.section {
    background-color: grey;
      background-image: url(./section.png);
      background-position: 50% 50%;
      background-size: cover;
      height: 800px;
      position: relative;
      width: 1920px;
    }
    
    .section .overlap-group {
      height: 139px;
      left: 390px;
      position: absolute;
      top: 280px;
      width: 903px;
    }
    
    .section .heading-tuinue {
      color: #ffff;
      font-family: "Montserrat-Black", Helvetica;
      font-size: 80px;
      font-weight: 900;
      height: 97px;
      left: 0;
      letter-spacing: 0;
      line-height: 60px;
      position: absolute;
      top: 0;
      width: 903px;
    }
    
    .section .heading-together {
      color: #ffffff;
      font-family: "Lato-Light", Helvetica;
      font-size: 30px;
      font-weight: 300;
      height: 60px;
      left: 0;
      letter-spacing: 0;
      line-height: 60px;
      position: absolute;
      top: 79px;
      white-space: nowrap;
      width: 448px;
    }
    
    .section .link {
      background-color: #d261d4;
      border: 1px solid;
      height: 49px;
      left: 390px;
      position: absolute;
      top: 450px;
      width: 162px;
    }
    
    .section .text-wrapper {
      color: #ffffff;
      font-family: "Lato-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      height: 22px;
      left: 31px;
      letter-spacing: 0;
      line-height: 27px;
      position: absolute;
      text-align: center;
      top: 12px;
      white-space: nowrap;
      width: 101px;
    }
    
    .section .div-probootstrap {
      height: 139px;
      left: 0;
      position: absolute;
      top: 661px;
      width: 1920px;
    }
    
    .section .div-item {
      background-color: #d261d4;
      border-color: #ffffff4c;
      border-right-style: solid;
      border-right-width: 1px;
      height: 139px;
      left: 390px;
      position: absolute;
      top: 0;
      width: 380px;
    }
    
    .section .symbol {
      color: #ffffff;
      font-family: "Inter-Regular", Helvetica;
      font-size: 50px;
      font-weight: 400;
      height: 50px;
      left: 20px;
      letter-spacing: 0;
      line-height: 50px;
      position: absolute;
      top: 19px;
      white-space: nowrap;
      width: 50px;
    }
    
    .section .heading-give {
      color: #000000;
      font-family: "Montserrat-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      height: 27px;
      left: 100px;
      letter-spacing: 0;
      line-height: 27px;
      position: absolute;
      top: 19px;
      white-space: nowrap;
      width: 151px;
    }
    
    .section .div {
      color: #ffffffb2;
      font-family: "Lato-Light", Helvetica;
      font-size: 16px;
      font-weight: 300;
      height: 19px;
      left: 100px;
      letter-spacing: 0;
      line-height: 24px;
      position: absolute;
      top: 48px;
      white-space: nowrap;
      width: 187px;
    }
    
    .section .text-wrapper-2 {
      color: #ffffffb2;
      font-family: "Lato-Light", Helvetica;
      font-size: 16px;
      font-weight: 300;
      height: 19px;
      left: 100px;
      letter-spacing: 0;
      line-height: 24px;
      position: absolute;
      top: 72px;
      white-space: nowrap;
      width: 182px;
    }
    
    .section .link-sign-in {
      color: #ffffff;
      font-family: "Lato-Light", Helvetica;
      font-size: 16px;
      font-weight: 300;
      height: 19px;
      left: 100px;
      letter-spacing: 0;
      line-height: 24px;
      position: absolute;
      text-decoration: underline;
      top: 96px;
      white-space: nowrap;
      width: 46px;
    }
    
    .section .div-item-2 {
      background-color: #d261d4;
      border-color: #ffffff4c;
      border-right-style: solid;
      border-right-width: 1px;
      height: 139px;
      left: 770px;
      position: absolute;
      top: 0;
      width: 380px;
    }
    
    .section .heading-become {
      color: #000000;
      font-family: "Montserrat-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      height: 27px;
      left: 100px;
      letter-spacing: 0;
      line-height: 27px;
      position: absolute;
      top: 19px;
      white-space: nowrap;
      width: 202px;
    }
    
    .section .link-lear-more {
      color: #ffffff;
      font-family: "Lato-Light", Helvetica;
      font-size: 16px;
      font-weight: 300;
      height: 19px;
      left: 100px;
      letter-spacing: 0;
      line-height: 24px;
      position: absolute;
      text-decoration: underline;
      top: 96px;
      white-space: nowrap;
      width: 71px;
    }
    
    .section .div-item-3 {
      background-color: #d261d4;
      height: 139px;
      left: 1150px;
      position: absolute;
      top: 0;
      width: 380px;
    }
    
    .section .heading-start-a {
      color: #000000;
      font-family: "Montserrat-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      height: 27px;
      left: 100px;
      letter-spacing: 0;
      line-height: 27px;
      position: absolute;
      top: 19px;
      white-space: nowrap;
      width: 160px;
    }
    